#edd-customer-card-wrapper #wallet-header-wrapper {
    padding-bottom: 20px;
}

#wallet-header-wrapper span,
#wallet-header-wrapper img {
    font-weight: 600;
    line-height: 30px;
    vertical-align: middle;
}

#wallet-stats-wrapper {
    margin: 0 auto;
    text-align: center;
    min-height: 30px;
}

#wallet-tables-wrapper .activity th,
#wallet-tables-wrapper .activity tr {
    text-align: center;
}

.edd-wallet-select-chosen {
    width: 300px;
}

#wallet-tables-wrapper .activity tr > td:only-child {
    text-align: center;
}

.edd-wallet-edit-wallet a {
    float: right;
}
